body{
    background-image: url("https://fondosmil.com/fondo/10853.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    background-image: url("https://images5.alphacoders.com/481/thumb-350-481904.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
}